.DS_Store
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/

# JavaScript
node_modules/
dist/
coverage/

# Rust
target/

# Slipstream runtime data and generated media
.slipstream/
*.db
*.db-*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.[3][Ff][Rr]
*.[Aa][Rr][Ii]
*.[Aa][Rr][Ww]
*.[Bb][Aa][Yy]
*.[Bb][Mm][Qq]
*.[Cc][Aa][Pp]
*.[Cc][Ii][Nn][Ee]
*.[Cc][Rr]2
*.[Cc][Rr]3
*.[Cc][Ss]1
*.[Dd][Cc]2
*.[Dd][Cc][Rr]
*.[Dd][Nn][Gg]
*.[Dd][Rr][Ff]
*.[Ee][Ii][Pp]
*.[Ee][Rr][Ff]
*.[Ff][Ff][Ff]
*.[Gg][Pp][Rr]
*.[Ii][Ii][Qq]
*.[Kk]25
*.[Kk][Cc]2
*.[Kk][Dd][Cc]
*.[Mm][Dd][Cc]
*.[Mm][Ee][Ff]
*.[Mm][Oo][Ss]
*.[Mm][Rr][Ww]
*.[Nn][Ee][Ff]
*.[Nn][Rr][Ww]
*.[Oo][Bb][Mm]
*.[Oo][Rr][Ff]
*.[Pp][Ee][Ff]
*.[Pp][Tt][Xx]
*.[Pp][Xx][Nn]
*.[Qq][Tt][Kk]
*.[Rr]3[Dd]
*.[Rr][Aa][Ff]
*.[Rr][Aa][Ww]
*.[Rr][Dd][Cc]
*.[Rr][Ww]2
*.[Rr][Ww][Ll]
*.[Rr][Ww][Zz]
*.[Ss][Rr]2
*.[Ss][Rr][Ff]
*.[Ss][Rr][Ww]
*.[Xx]3[Ff]
previews/
