numpy~=2.4
scipy~=1.17
colour-science~=0.4.6
scikit-image~=0.26
matplotlib~=3.10
opt-einsum~=3.4.0
numba~=0.64
OpenImageIO~=3.1.11
pyfftw~=0.15.0
rawpy~=0.26.1
exiv2~=0.18.1
lensfunpy~=1.18.0
Pillow~=12.1
tifffile
